modules = ["nodejs-20", "web", "python-3.11", "python3", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "fontconfig", "freetype", "ghostscript", "glib", "glibcLocales", "harfbuzz", "libiconv", "libxcrypt", "openssl", "pango", "pkg-config", "rustc"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3001

[env]
PORT = "5000"

[deployment]
deploymentTarget = "vm"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_object_storage:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[userenv]

[userenv.production]
NODE_ENV = "production"
VITE_TURNSTILE_SITE_KEY = "0x4AAAAAADeEkWu_MMfYe3J0"
TURNSTILE_SECRET_KEY = "0x4AAAAAADeEkbcetAgl32cHEmswQmRSRqY"
MFA_ENABLED = "true"
PRIVATE_OBJECT_DIR = "/replit-objstore-bc65a353-16ed-4797-a34b-9c6ecbb79a7b/.private"
PUBLIC_OBJECT_SEARCH_PATHS = "/replit-objstore-bc65a353-16ed-4797-a34b-9c6ecbb79a7b/public"

[userenv.shared]
VITE_PROD_URL = "https://www.guardiangroup.ai"
ACCELO_WEBHOOK_SECRET = "5727b1df2c63ea71e8bb77a76575470c602bc3bb8462e2e64b384050a22dc3d8"

[userenv.development]
VITE_TURNSTILE_SITE_KEY = "1x00000000000000000000AA"
TURNSTILE_SECRET_KEY = "1x0000000000000000000000000000000AA"
PRIVATE_OBJECT_DIR = "/replit-objstore-bc65a353-16ed-4797-a34b-9c6ecbb79a7b/.private-dev"
PUBLIC_OBJECT_SEARCH_PATHS = "/replit-objstore-bc65a353-16ed-4797-a34b-9c6ecbb79a7b/public-dev"
